.services-intro {
	margin-bottom: 3rem;
}
.services-content {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100vh;
}
.services-img {
	width: 50%;
	width: 700px;
	height: 750px;
	margin-right: 2rem;
}
.services-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.service {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 2rem 0;
	height: 100%;
	width: 50%;
}
.service-heading {
	font-size: 2.5rem;
	padding-bottom: 2rem;
}
.service-text {
	line-height: 30px;
}