.propertyDetails-page {
  font-family: "Arial", sans-serif;
  padding: 20px;
  padding-top: 100px;
}

.propertyImages {
  width: 100%;
  margin-bottom: 3%;
  height: 16rem;
  border-radius: 8px;
  object-fit: cover;
}

.propertyImages-overlay {
  position: relative;
  cursor: pointer;
}

.propertyImages-overlay img {
  opacity: 0.5;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
}

.get-contact {
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 20px;
}

.sticky-contact {
  position: sticky;
  top: 100px;
}

.propertyDetails-info {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #d0d0d0;
  border-radius: 8px;
  background-color: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.propertyDetails-info h4 {
  font-size: 1.6rem;
  font-weight: bold;
}

.propertyDetails-list li {
  font-size: 1rem;
  color: #5f5f5f;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.propertyDetails-list li svg {
  margin-right: 8px;
  color: #6200ea;
}

hr {
  margin: 16px 0;
  border: none;
  border-top: 1px solid #ddd;
}


/* Footer Container Styling */
.footer-container-unit {
  background: linear-gradient(135deg, #031725, #07283f); /* Slight gradient */
  padding: 15px 30px; /* More padding */
  text-align: center; /* Center text */
  font-size: 18px; /* Slightly bigger text */
  font-weight: 600; /* Make text stand out */
  color: white; /* White text for contrast */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  width: 90%; /* Make it responsive */
  max-width: 1200px; /* Prevent it from getting too large */
  margin: 20px auto; /* Center it and add spacing */  
  cursor: pointer;
}
.footer-container-unit:hover{
  scale: 1.01;
  transition: 0.5s;
}

.footer-container h2 {
  font-size: 1.5rem; /* Slightly larger font size */
  color: #6c757d; /* Subtle gray text color */
  font-weight: 500; /* Medium font weight */
  margin: 0; /* Remove default margin */
}
