.featured-collections {
    padding: 10px 30px;
  }
.featured-collections h1 span{
  color: #6200ea;
}
  .collection-card {
    padding: 20px 20px;
  }
  
  .slick-arrow {
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  
  .slick-arrow:hover {
    background: rgba(0, 0, 0, 0.8);
  }
  
  .slick-dots li button:before {
    color: #000;
  }
  
  .slick-dots li.slick-active button:before {
    color: #000;
  }
  

  .collection-card .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  .collection-card .card:hover {
    transform: scale(1.05); /* Increase the card size on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add shadow for a 3D effect */
  }
  