.yourSwiper{
    height: 65vh;
    width: 26vw;
    margin-left: 22%;
    cursor: pointer;
}

.swiperImg{
    height: 65vh;
    width: 26vw;
    object-fit: cover;
    
}
@media screen and (max-width:997px) {
    .yourSwiper{
        height: 55vh;
        width: 85vw;
        margin-left: 5%;
        margin-bottom: 5%;
    }
    
    .swiperImg{
        height: 60vh;
        width: 75vw;
        object-fit: cover;
        
    }
}